$animationDuration: 1.2s;

.form {
  position: relative;
  height: 100%;
  width: 640px;
  transition: transform $animationDuration ease-in-out;

  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 600;
  }

  &__submit-button {
    width: 260px;
    height: 36px;
    background: #d4af7a;
    border: 3px solid #d4af7a;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all .3s;
    color: #fff;

    &:hover {
      background: white;
      color: black;
    }
  }

  &__inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    &__input-field,
    input {
      display: flex;
      outline: 0;
      border: 0;
      border-bottom: 2px solid darkgray;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 20px;
      gap: 5px;
      text-align: center;

      &__input-label {
        color: grey;
        font-size: 15px;
        text-transform: uppercase;
      }
    }
  }
}
